@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.enroll{
  background-color: #CBF1EA;
}

.header-logo {
  height: 40px;
  float: left;
}

.title-font{
  font-family: Noto Sans TC, sans-serif;
  font-size: 1.5rem; 
  text-align: center; 
}


.inside{
  font-family: Noto Sans TC, sans-serif;
  font-size: 1rem;
  background-color: #fff;
  margin-top: 3vw;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  padding: 3vw;
}

.title{
  margin-bottom: 1vw;
}

.confirm{
  margin-top: 5vw;
  text-align: center;
}

.col-form{
  margin-left: 10vw;
  width: 50vw;
}

#tr_space {
  height: 3vw;
  width: 100%;
}

@media (max-width: 575.98px) {

}
@media (min-width: 576px) and (max-width: 767.98px) { 
  
}
@media (min-width: 768px) and (max-width: 991.98px) {
 
  .inside{
    margin-top: 3vw;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-bottom: 10vw;
    padding: 3vw;
  } 
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .inside{
    margin-top: 3vw;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-bottom: 10vw;
    padding: 3vw;
  }
}
@media (min-width: 1200px) {
  
  .inside{
    margin-top: 3vw;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-bottom: 10vw;
    padding: 3vw;
  }
}